header {
    color: #eeeeee;
    text-align: center;
}

header h1 {
    font-size: 48px;
    text-shadow: /* give the text an outline */
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000;
}

body {
    background-color: #800080;
}

body ul {
    list-style-type: none;
}

#button-list {
    list-style-type: none;
    padding: 10px 80px 10px 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#button-list li {
    margin: 20px;
}

#button-list li button {
    background-color: #eeeeee;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

#button-list li button:hover {
    background-color: #cccccc;
}

#out-title {
    text-align: center;
    font-size: 24px;
}

#out-list {
    list-style-type: none;
    margin: 20px 0px 20px 0px;
    text-align: center;
    column-count: 3;
    column-rule: 3px solid #eeeeee;
}

#out-list li {
    margin-bottom: 10px;
}

footer {
    margin-top: 80px;
    text-align: center;
}